/* estilo Index */

.header_index {
    .header_tittle {
        text-align: center;
        font-size: 13px;
        color: black;
        padding: 10px;
        background-color: $coloralternativo;
    }
};

