
$colorprimario: #6bc7c5;
$colorsecundario: #f96b64;
$colorterciario: #ffcf61;
$coloralternativo: #a0dbda;



@import "reset";
@import "mixin";
@import "map";
@import "index";
@import "contact";
@import "testimonios";
@import "products";
@import "aboutus";
@import "redes";
@import "media";





